@model Atomicity.Models.DocumentModel

@{
    ViewData["Title"] = "Пояснення функціоналу";
}

<div class="explanation-container">
    <h1>@ViewData["Title"]</h1>

    <p>Цей інструмент допомагає перевірити атомарність та двозначність у документі, що завантажується. Атомарність та двозначність є різними аспектами якості вимог до програмного забезпечення, і цей інструмент перевіряє їх окремо, надаючи детальні коментарі для кожного з аспектів.</p>

    <h2>Як це працює:</h2>
    <ol>
        <li>Завантажте документ (на даний момент підтримуються файли .docx).</li>
        <li>Натиснувши "Перевірити", інструмент аналізує документ на вибрані вами властивості (атомарність і/або двозначність) та надає відповідні коментарі для кожного з аспектів.</li>
        <li>У головній панелі є меню, де можна вибрати, які саме властивості перевіряти: атомарність, двозначність, або обидва аспекти разом.</li>
        <li>Після перевірки ви зможете завантажити файл з доданими коментарями, що вказують на виявлені проблеми.</li>
    </ol>

    <h2>Підтримувані формати:</h2>
    <p>На даний момент підтримуються файли формату .docx.</p>

    <h2>Що таке атомарність?</h2>
    <p>Атомарність визначається як властивість вимог, коли кожне твердження є самодостатнім і не може бути поділене на менші частини без втрати завершеності. Перевірка атомарності фокусується на тому, чи можна розділити вимогу на більш дрібні елементи, не втрачаючи її повноти. Програма шукає довгі речення і пропонує вам звернути увагу на них, оскільки вони можуть бути надто складними для одного твердження.</p>

    <h2>Що таке двозначність?</h2>
    <p>Двозначність означає наявність різних можливих тлумачень вимоги, що може призвести до неоднозначних інтерпретацій. Інструмент перевіряє, чи є у тексті формулювання, яке може мати кілька трактувань. Програма шукає підозрілі слова, які можуть бути двозначними, і пропонує перевірити, чи було додано до них уточнення для чіткішого розуміння.</p>

    <a href="@Url.Action("Atomicity", "Pages")" class="btn btn-primary">Повернутися до перевірки документа</a>
</div>

